@tailwind base;
@tailwind components;
@tailwind utilities;


#entrance {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#signup, #login{
    backface-visibility: hidden;
}
#login{
    transform: perspective(500px) rotateY(180deg);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: rgb(100,116,139);

}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(100,116,139);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#25334A;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 23, 42);
}